body {
    background-color: #FABF86;
}

.dropdown-menu  {
    background-color: #FF7C00;
    border-color: #FF7C00;
    border-width: 0.1rem;
    border-radius: 0.6rem;
    padding: 1rem;
    color: #FDD4AC;
}

nav {
    margin-left: 10rem;
    margin-right: 10rem
}

section.top-page {
    padding-top: 1rem;
    background-size: cover; 
    height: 80vh;
}

/* menu de navigation */

nav.navbar {
    display: flex;
}
